.header_root{
  display: flex;
  justify-content: space-between;
  padding: 24px;
}
.expenses {
  width: 93px;
  height: 28px;
  font-family: Avenir;
  font-size: 20px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: 0.39px;
  color: #042c5c;
  }

  .path {
    width: 22px;
    height: 22px;
    /* background-color: #0047cc; */
  }