.monthly_root{
    display: flex;
    justify-content: space-between;
    padding: 0px 24px 24px 24px;
  }

  .monthly {
    width: 101px;
    height: 32px;
    border-radius: 18.5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    text-align: center;
  }

  .months {
    display: flex;
    justify-content: space-evenly;
    width: calc(100% - 101px);
    margin-left: 32px;
  }

  .months button {
    background: none;
    border: none;
  }

  .months button:focus {
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: #dfe7f5;
    color: #0047cc;
  }

  .monthly_Value {
    width: 75%;
    height: 32px;
    font-family: Avenir;
    font-size: 13px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.11px;
    color: #77869e;
    border: none;

  }

  .monthly_Value:active, .monthly_Value:focus {
    outline: none;
  }

  .drop_Value {
    width: 38px;
    height: 32px;
    border-radius: 6px;
    background-color: #dfe7f5;
  }